@use "palette.common" as pc;

$ebony: #4b543b;
$pistachio: #8ed081;
$copper: #b57f50;
$vanilla: #dce2aa;
$celadon: #b4d2ba;

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  50: #e9eae7,
  100: #c9ccc4,
  200: #a5aa9d,
  300: #818776,
  400: #666e58,
  500: #4b543b,
  600: #444d35,
  700: #3b432d,
  800: #333a26,
  900: #232919,
  A100: #f6ff2a,
  A200: #e1ec00,
  A400: #c9d200,
  A700: #bac300,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette1: (
  50: #f6f0ea,
  100: #e9d9cb,
  200: #dabfa8,
  300: #cba585,
  400: #c0926a,
  500: #b57f50,
  600: #ae7749,
  700: #a56c40,
  800: #9d6237,
  900: #8d4f27,
  A100: #ffbeae,
  A200: #ff8c70,
  A400: #ff7857,
  A700: #ff6c48,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette2: (
  50: #f1f9f0,
  100: #ddf1d9,
  200: #c7e8c0,
  300: #b0dea7,
  400: #9fd794,
  500: #8ed081,
  600: #86cb79,
  700: #7bc46e,
  800: #71be64,
  900: #5fb351,
  A100: #edffe7,
  A200: #c0ffaa,
  A400: #adff91,
  A700: #a2ff81,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette3: (
  50: #f6faf7,
  100: #e9f2ea,
  200: #dae9dd,
  300: #cbe0cf,
  400: #bfd9c4,
  500: #b4d2ba,
  600: #adcdb3,
  700: #a4c7ab,
  800: #9cc1a3,
  900: #8cb694,
  A100: #ffffff,
  A200: #f4fff5,
  A400: #dbffdd,
  A700: #ccffcf,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette4: (
  50: #fbfcf5,
  100: #f5f6e6,
  200: #eef1d5,
  300: #e7ebc4,
  400: #e1e6b7,
  500: #dce2aa,
  600: #d8dfa3,
  700: #d3da99,
  800: #ced690,
  900: #c5cf7f,
  A100: #ffffff,
  A200: #fffff9,
  A400: #ffffdf,
  A700: #feffd0,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);
