@use "palette.common" as pc;
/* SCSS HEX */
$black-bean: #3c1518;
$blood-red: #69140e;
$brown: #a44200;
$bronze: #d58936;
$vanilla: #f2f3ae;
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  50: #e8e3e3,
  100: #c5b9ba,
  200: #9e8a8c,
  300: #775b5d,
  400: #59383b,
  500: #3c1518,
  600: #361215,
  700: #2e0f11,
  800: #270c0e,
  900: #1a0608,
  A100: #ff5966,
  A200: #ff2637,
  A400: #f20013,
  A700: #d90011,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette1: (
  50: #ede3e2,
  100: #d2b9b7,
  200: #b48a87,
  300: #965b56,
  400: #803732,
  500: #69140e,
  600: #61120c,
  700: #560e0a,
  800: #4c0b08,
  900: #3b0604,
  A100: #ff7571,
  A200: #ff433e,
  A400: #ff120b,
  A700: #f10700,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette2: (
  50: #f4e8e0,
  100: #e4c6b3,
  200: #d2a180,
  300: #bf7b4d,
  400: #b25e26,
  500: #a44200,
  600: #9c3c00,
  700: #923300,
  800: #892b00,
  900: #781d00,
  A100: #ffb4a6,
  A200: #ff8973,
  A400: #ff5f40,
  A700: #ff4926,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette3: (
  50: #faf1e7,
  100: #f2dcc3,
  200: #eac49b,
  300: #e2ac72,
  400: #db9b54,
  500: #d58936,
  600: #d08130,
  700: #ca7629,
  800: #c46c22,
  900: #ba5916,
  A100: #fff3ec,
  A200: #ffd3b9,
  A400: #ffb386,
  A700: #ffa36d,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette4: (
  50: #fdfef5,
  100: #fbfbe7,
  200: #f9f9d7,
  300: #f6f7c6,
  400: #f4f5ba,
  500: #f2f3ae,
  600: #f0f1a7,
  700: #eeef9d,
  800: #eced94,
  900: #e8ea84,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fffff6,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);
