@use "palette.common" as pc;
/* SCSS HEX */
$charcoal: #394053;
$davys-gray: #4e4a59;
$wenge: #6e6362;
$reseda-green: #839073;
$asparagus: #7cae7a;

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
  50: #e7e8ea,
  100: #c4c6cb,
  200: #9ca0a9,
  300: #747987,
  400: #575d6d,
  500: #394053,
  600: #333a4c,
  700: #2c3242,
  800: #242a39,
  900: #171c29,
  A100: #299bff,
  A200: #007eeb,
  A400: #0070d1,
  A700: #0068c2,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette1: (
  50: #eae9eb,
  100: #cac9cd,
  200: #a7a5ac,
  300: #83808b,
  400: #696572,
  500: #4e4a59,
  600: #474351,
  700: #3d3a48,
  800: #35323e,
  900: #25222e,
  A100: #434ff7,
  A200: #0a19f3,
  A400: #000fe4,
  A700: #000ed5,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette2: (
  50: #eeecec,
  100: #d4d0d0,
  200: #b7b1b1,
  300: #9a9291,
  400: #847a7a,
  500: #6e6362,
  600: #665b5a,
  700: #5b5150,
  800: #514746,
  900: #3f3534,
  A100: #f66676,
  A200: #f22c42,
  A400: #ff0621,
  A700: #f5001b,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette3: (
  50: #f0f2ee,
  100: #daded5,
  200: #c1c8b9,
  300: #a8b19d,
  400: #96a188,
  500: #839073,
  600: #7b886b,
  700: #707d60,
  800: #667356,
  900: #536143,
  A100: #dbfd8a,
  A200: #c9fd4e,
  A400: #c2ff32,
  A700: #bdff23,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);

$md-mcgpalette4: (
  50: #eff5ef,
  100: #d8e7d7,
  200: #bed7bd,
  300: #a3c6a2,
  400: #90ba8e,
  500: #7cae7a,
  600: #74a772,
  700: #699d67,
  800: #5f945d,
  900: #4c844a,
  A100: #c1ffb4,
  A200: #8eff76,
  A400: #79ff5d,
  A700: #6cff4e,
  contrast: (
    50: pc.$dark-primary-text,
    100: pc.$dark-primary-text,
    200: pc.$dark-primary-text,
    300: pc.$dark-primary-text,
    400: pc.$dark-primary-text,
    500: pc.$dark-primary-text,
    600: pc.$dark-primary-text,
    700: pc.$dark-primary-text,
    800: pc.$dark-primary-text,
    900: pc.$light-primary-text,
    A100: pc.$dark-primary-text,
    A200: pc.$dark-primary-text,
    A400: pc.$dark-primary-text,
    A700: pc.$dark-primary-text,
  ),
);
